version: '3'

services:
  app:
    build: .
    volumes:
      - logs:/logs
    ports:
      - "8000:8000"

  prometheus:
    image: prom/prometheus:v2.36.1
    restart: always
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    ports:
      - "9090:9090"
    networks:
      - monitoring

  loki:
    image: grafana/loki:2.8.1
    container_name: loki
    volumes:
      - lokidata:/loki
    ports:
      - "3100:3100"
    networks:
      - monitoring

  promtail:
    image: grafana/promtail:2.8.1
    container_name: promtail
    volumes:
      - ./promtail-local-config.yaml:/etc/promtail/local-config.yaml
      - logs:/logs
    depends_on:
      - loki
    networks:
      - monitoring

  grafana:
    image: grafana/grafana:latest
    restart: always
    ports:
      - "3000:3000"
    networks:
      - monitoring

  postgres:
    image: postgres:17.7
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    ports:
      - "5432:5432"

  redis:
    image: redis:8.0.0
    ports:
      - "6379:6379"

  airflow-webserver:
    image: apache/airflow:2.9.1
    restart: always
    command: ["airflow", "webserver"]
    environment:
      AIRFLOW__CORE__LOAD_EXAMPLES: "False"
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
      AIRFLOW__CELERY__RESULT_BACKEND: db+postgresql://airflow:airflow@postgres/airflow
      AIRFLOW__CELERY__BROKER_URL: redis://redis:6379/0
    ports:
      - "8080:8080"
    depends_on:
      - postgres
      - redis
    volumes:
      - ./dags:/opt/airflow/dags

  airflow-scheduler:
    image: apache/airflow:2.9.1
    restart: always
    command: ["airflow", "scheduler"]
    environment:
      AIRFLOW__CORE__LOAD_EXAMPLES: "False"
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
      AIRFLOW__CELERY__RESULT_BACKEND: db+postgresql://airflow:airflow@postgres/airflow
      AIRFLOW__CELERY__BROKER_URL: redis://redis:6379/0
    depends_on:
      - postgres
      - redis
    volumes:
      - ./dags:/opt/airflow/dags
      
      
volumes:
  logs: {}
  lokidata: {}

networks:
  monitoring: