version: '3'

services:
  app:
    build: .
    volumes:
      - logs:/logs
    ports:
      - "8000:8000"

  prometheus:
    image: prom/prometheus:v2.36.1
    restart: always
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    ports:
      - "9090:9090"
    networks:
      - monitoring

  loki:
    image: grafana/loki:2.8.1
    container_name: loki
    volumes:
      - lokidata:/loki
    ports:
      - "3100:3100"
    networks:
      - monitoring

  promtail:
    image: grafana/promtail:2.8.1
    container_name: promtail
    volumes:
      - ./promtail-local-config.yaml:/etc/promtail/local-config.yaml
      # Монтируем директорию с логами
      - logs:/logs
    depends_on:
      - loki
    networks:
      - monitoring

  grafana:
    image: grafana/grafana:latest
    restart: always
    ports:
      - "3000:3000"
    networks:
      - monitoring

volumes:
  # Том для логов
  logs: {}
  # Том для данных Loki
  lokidata: {}

networks:
  monitoring: